<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Button-Register</title>
    <link rel="stylesheet" href="../style/pop_up_container_id.css">
    <link rel="stylesheet" href="../style/register_button.css">
</head>
<body>
    <main>
        <div id="pop-up-container-id" class="pop-up-container-c">
            <span close-pop-up class="close" title="close-login-pop-up">&times;</span>
            <form id="register-form">
                <input class="create-input-name" type="text" placeholder="First Name" name="firstName">
                <input class="create-input-name" type="text" placeholder="Last Name" name="lastName">
                <input class="create-input" type="email" placeholder="Email" name="email">
                <input class="create-input" id="psw" type="password" placeholder="Password" name="psw">
                <input class="create-input" id="psw" type="password" placeholder="Confirm to password" name="confPsw">
                <button type="submit" class="create-button">Pronto!</button>
            </form>
        </div>
    </main>
    <script src="./register_button.js"></script>
</body>
</html>