<!doctype html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login-Button</title>
    <link rel="stylesheet" href="../style/pop_up_container_id.css">
    <link rel="stylesheet" href="../style/login_button.css">
</head>
<body>
    <main id="pop-up-container-id" class="pop-up-container-c">
        <span close-pop-up class="close" title="close-login-pop-up">&times;</span>
        <div class="image-container">
            <img src='../view/_images/user.png' alt="Avatar" class="avatar">
        </div>
        <form action="NAO TENHO IDEIA BRO" id="login-form" class="pop-up-content animate">
            <div id="form-submit" class="input-container">
                <input class="login-input" type="text" placeholder="Enter Username" name="uname">
                <input class="login-input" type="password" placeholder="Enter Password" name="psw">
                <button type="submit" class="login-button" submit-button>Login</button>
            </div>
        </form>
    </main>
    <script src="./login_button.js"></script>
</body>
</html>