*{
    padding: 0px;
    margin: 0px;
}

.pop-up-container-c{
    background-color: #a3a3ff;
    width: 60%;
    height: 150px;
}


/*Botão Close*/

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}