
<link rel="stylesheet" href="./view/style/pop_up_container_id.css">
<link rel="stylesheet" href="./view/style/register_button.css">
<div id="pop-up-container-id" class="pop-up-container-c">
    <span close-pop-up class="close" title="close-login-pop-up">&times;</span>
    <form id="register-form">
        <input class="create-input-name" type="text" placeholder="First Name" name="firstName">
        <input class="create-input-name" type="text" placeholder="Last Name" name="lastName">
        <input class="create-input" type="email" placeholder="Email" name="email">
        <input class="create-input" id="psw" type="password" placeholder="Password" name="psw">
        <button name="submit" type="button" class="create-button">Pronto!</button>
    </form>
</div>

