<link rel="stylesheet" href="./view/style/pop_up_container_id.css">
<div id="pop-up-container-id" class="pop-up-container-c">
    <span close-pop-up class="close" title="close-login-pop-up">&times;</span>
    <div class="image-container">

    </div>
    <form id="login-form" class="pop-up-content animate" > <!-- A ideia aqui era fazer um formulario -->
        <div id="form-submit" class="input-container">
            <input id="login-input-id" class="login-input-c" type="email" placeholder="Enter Username Email" name="email">
            <input class="login-input" type="password" placeholder="Enter Password" name="psw">
            <button type="button" class="login-button" submit-button name="submit">Login</button>
        </div>
    </form>
</div>
