<link rel="stylesheet" href="./view/style/search_bar.css">
<link rel="stylesheet" href="./view/style/search_bar.css">
<div id="pop-up-container-id" class="pop-up-container-c">
    <form id="search-bar">
        <input type=search name="searchBar" placeholder="Pesquise por disciplina ou busque por ID" size="100px">
        <button type="button" name="searchBySubjectName" id="search-by-name-id">Pesquisar Disciplina</button>
        <button type="button" name="searchById" id="search-by-id-id">Encontre pelo ID</button>
    </form>

</div>