<link href="./view/style/ranking_button.css" rel="stylesheet">
    <form  id="ranking-form">
        <p><label for="orderType-id">Ordenar disciplinas por:</label></p>
        <select id="orderType-id" name="orderType-id">
            <option selected value="default">Padrão</option>
            <option value="likes">Número de Likes</option>
            <option value="dislikes">Número de Deslikes</option>
            <option value="comments">Número de Comentários</option>
            <option value="proportion">Proporção de likes/deslikes</option>
        </select>
        <button id="raquear-disciplinas" type="button">Buscar</button>
    </form>
</div>