<!--<div id="pop-up-container-id" class="pop-up-container-c">-->
<link rel="stylesheet" href="./view/style/ranking_button.css">
    <form  id="ranking-form">
        <p><label for="orderType">Ordenar disciplinas por:</label></p>
        <select name="orderType">
            <option selected value="default">Padrão</option>
            <option value="likes">Numero de Likes</option>
            <option value="dislikes">Numero de deslikes</option>
            <option value="comments">Numero de comentario</option>
            <option value="proportion">Proporção de likes/deslikes</option>
        </select>
        <button id="raquear-disciplinas" type="button">Buscar</button>
    </form>
</div>